ToDoList{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 100px;

}
h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
}
button{
    padding: 10px 20px;
    background-color: #ff0101;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin: 10px;
}
.add-button{
    background-color: #00ba1f;
    margin-bottom: 20px;
}
.add-button:hover{
    background-color: #3c484b;
    color: white;
}
.move-button{
    background-color: #3bc770;
    color: black;
}
.move-button:hover{
    background-color: #d4d4d4;
}
.text{
    flex: 1;
}